@import url('https://fonts.google.com/specimen/Dancing+Script');

html, body{
    width: 100%;
    height: 100%;
    font-family: 'Dancing Script';
    font-size: 20px;
}
.container{
    margin: auto;
}
.navbar{
    background-color: #d9d9d9 !important;
    opacity: 0.8;
}
.navbar li a{
    color: #000000 !important;
}
.navbar li a:hover{
    color: #008000 !important;
}

.logopersonal{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logopersonal p{
    margin: 0px;
}
.logopersonal a{
    text-decoration: none;
    margin: 0px 5px 0px 5px;
}
.title-blog{
    text-align: center;
}
.inputSearch{
    width: 80%;
    float: left;
    padding-bottom: 20px;
    padding: 0px;
    margin: 0px;
}
.btnSearch{
    width: 20%;
    float: left;
    padding-bottom: 20px;
    padding: 0px;
    margin: 0px;
}
.btnAbout{
    float: left;
    margin: 20px 0px 20px 0px;
    background-color: #d9d9d9;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 10px 0px 10px 0px;
}
.btnAbout h5{
    margin: 0px;
}
.img-introduce, .liftStyle, .title-introduce{
    margin-bottom: 20px;
}

.btn-instagram{
    margin: 20px 0px 20px 0px;
    background-color: #d9d9d9;
    text-align: center;
    width: 100%;
    padding: 10px 0px 10px 0px;
}
.btn-instagram h5{
    margin: 0px;
}
.img-introduce-instagram{
    margin: 0px !important;
    padding: 5px !important;

}
.row-img-instagram{
    padding: 0px !important;
    margin: 0px !important;
}

.btn-categories{
    float: left;
    margin: 20px 0px 20px 0px;
    background-color: #d9d9d9;
    text-align: center;
    width: 100%;
    padding: 10px 0px 10px 0px;
}
.btn-categories h5{
    margin: 0px;
}
.list-categories ul{
    padding: 0px;
    margin: 0px;
}
.list-categories ul li{
    list-style: none;
    text-align: left;
}
.list-categories ul li a{
    color: #000000;
}
.list-categories ul li a:hover{
    color: #008000 !important;
}

.date-writed{
    text-align: center;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}
.blog{
    padding-bottom: 30px;
}
.btn-readmore{
    background-color: #d9d9d9; /* Màu của Quản trị mạng ^^ */
    border: none;
    color: #000000;
    padding: 10px 0px 10px 0px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.btn-readmore:hover{
    background-color: #008000;
    color: white;
    font-size: 101%;
}








.footer{
    height: 60%;
    background-color: #d9d9d9;
}
.mxh a {
    text-decoration: none;
    padding: 5px;
}
.light{
    width: 50%;
}

/*media query*/ 
/* thay đổi size chữ theo màn hình */
@media (max-width: 992px){
   
}
@media (max-width: 768px){
    
}
@media (max-width: 576px){
    
}



